@mixin base-field-input {
  width: 100%;
  border: 1px solid $color-border;
  border-radius: $radius-base;
  font-size: $font-size-base;
  color: $color-text-main;
  transition: border-color $transition-base;
  background-color: $color-white;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &.is-invalid {
    border-color: $color-error;
  }
}